:root {
    --auburn: #a0231d;
    --alloy-orange-dark: #c65520;
    --alloy-orange-light: #e77f22;
    --white: #ffffff;
    --jet-stream: #bfd7bd;
    --red: #fb1e1f;
}

html,
body {
    height: 100vh;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background: linear-gradient(90deg, var(--auburn) 0%, var(--alloy-orange-dark) 35%, var(--alloy-orange-light) 100%);
    flex: 0 1 auto;
    padding: 0.4rem;
    color: var(--white);
}

h2,
h3 {
    margin: 0em 0.5rem;
}

.container {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
}

.card {
    border: 0.5mm solid var(--jet-stream);
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    flex-basis: 20em;
    margin: 1em;
    justify-content: space-between;
}

div.card>div {
    width: 100%;
    height: 25rem;
}

.color-paragraph:first-of-type {
    font-size: x-large;
}

.color-paragraph {
    font-weight: 550;
    margin: 0.2em 0.5em;
}

button {
    margin: 0.4em 0.8em;
    padding: 0.6em 1.4em;
    background-color: var(--red);
    color: var(--white);
    width: fit-content;
    border: none;
}
